* {
  color: #dddddd;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

body {
  margin: 0;
  background-color: #001020;
}

li {
  margin-top: 1.1em;
}

h1 {
  color: #70a2dd;
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
}

h2 {
  color: #70a2dd;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

h3 {
  color: #70a2dd;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
}
@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

hr {
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 5px;
}

a {
  text-decoration: none; /* Remove underline */
  color: #80c6ff; /* Inherit color from parent element */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #70a2dd;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #244c6d;
}

.profile-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #70a2dd;
}
.intro {
  max-width: 600px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
}

.nav-header {
  margin: 0;
  padding: 0 25px 0px 25px;
  background-color: #244c6d;
  width: 95%;
  height: 50px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
.nav-header__item {
  margin-right: 20px;

  color: #ffffff;
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content-cv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  padding: 10px;
}
@media (max-width: 800px) {
  .content-cv {
    flex-direction: column;
    align-items: center;
  }
}

.content__profil #name {
  color: #ffffff;
}
.content__profil h3 {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.content__profil__description {
  margin-top: 25px;
  max-width: 215px;
  text-align: justify;
}
@media (max-width: 800px) {
  .content__profil__description {
    max-width: none;
  }
}
.content__profil__contacts {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}
.content__profil__contacts i {
  color: #70a2dd;
}
.content__profil__contacts p {
  font-size: 14px;
}

.content__experiences {
  margin-left: 25px;
  max-width: 1000px;
}
@media (max-width: 800px) {
  .content__experiences {
    margin: 0;
  }
}

.content__experiences__title {
  margin-bottom: 10px;
}

.content__experiences__exp {
  margin: 10px 0;
  padding: 15px 30px;

  background-color: #1a2e3e;
  border: 1px solid lightGray;
  border-radius: 8px;
}

.content__experiences__tag {
  margin-bottom: 10px;

  color: #70a2dd;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.read-more-btn {
  cursor: pointer;
  color: #0075ff;
}

.more-content {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.1s ease-out;
}
.more-content-body {
  padding: 10px;
  background-color: #1a2e3e;
}

.more-content.open {
  max-height: 800px; /* Adjust based on the content's size */
  margin: 20px 0px;
  transition: max-height 0.1s ease-in;
}

/*Project card*/
.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card {
  margin: 10px;
  padding: 15px 30px;
  width: 70%;
  max-width: 1000px;

  background-color: #1a2e3e;
  border: 1px solid lightGray;
  border-radius: 8px;
}

.project-card__title {
  margin-bottom: 1.5em;
}
.project-card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-card__content img {
  margin-right: 30px;
  width: auto;
  height: 200px;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .project-card__content {
    display: block;
  }

  .project-card__content img {
    height: auto;
    width: 100%;
  }
}
